/* this comments like C */

body {
    background: url(https://github.com/RAGSOOK/RAGSOOK.github.io/blob/master/background_boy.jpg);
}

h1{
   background-color: white;
   text-align: center;
}

h2{
   background-color: white;
}

h3{
   background-color: white;
}

p 
{
    background-color: white;
    max-width: 600px;
    margin: auto;
    border-style: solid;
    /*margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 80px;*/
}
